# Visualisasi & Dashboard
seaborn>=0.13.2
matplotlib>=3.9.0
plotly>=5.22.0
altair>=5.4.0

# Data & Analisis
pandas>=2.2.2
numpy>=2.1.1

# Machine Learning
scikit-learn>=1.6.0
joblib>=1.4.2

# Web App
streamlit>=1.38.0

# Tools
pip>=25.1.1
